{:aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/url "https://github.com/cognitect-labs/test-runner.git"
                       :sha "9e35c979860c75555adaff7600070c60004a0f44"}
                      org.clojure/test.check {:mvn/version "1.1.0"}}
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test}
  :build
  {:deps {io.github.clojure/tools.build {:git/tag "v0.5.1" :git/sha "21da7d4"}
          io.github.slipset/deps-deploy {:git/sha "9b8db1f57722d19cf92de57ac7db28d71a915bcf"}}
   :ns-default build}}}
